<div class="container">
	</br>
	<div class="row">
		<div class="blocks col-md-8 col-md-offset-2">
			<div class="row">
				<div style="text-align: center;">
					<h5>
						<p class="strong lead">
						This page is updated via Nodejs and Express with Socket.io.</br>
						Live, ordered content is being shown to this browser.</br>
						View the Github repo here:</p>
						<a href="https://github.com/coreywkruger/sio-streams">https://github.com/coreywkruger/sio-streams</a>
						<hr>
						
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 small lead">Connection status:</div>
				<div class="col-md-9 small" ng-show="!startUpdates.value">- <em>Not connected</em></div>
				<div class="col-md-9 small" ng-show="startUpdates.value">- <em>Connected</em></div>
				</br>
			</div>
			<div class="row">
				<div class="col-md-3 small lead">The server says:</div><div class="col-md-9 small server">- <em>{{greeting.message}}</em></div>
			</div>
		</div>
	</div>
</div>